<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:include="fragments/header :: head"></th:block>
<th:block th:include="fragments/body :: body"></th:block>
<body>
<div class="content">
    <table class="table" style="width: 75%" border="1">
        <thead>
        <tr>
            <th scope="col">Student</th>
            <th:block scope="col" th:each="lesson : ${lessons}">
                <th th:text="${lesson.nume}"></th>
            </th:block>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.nume + ' ' + student.prenume}"></td>
            <th:block th:each="mark : ${marks}">
                <th:block scope="col" th:each="lesson : ${lessons}">
                    <td th:if="${mark.student.ID == student.ID && mark.lesson.ID == lesson.ID}"
                        th:text="${mark.nota}"></td>
                </th:block>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>