<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:include="fragments/header :: head"></th:block>
<th:block th:include="fragments/body :: body"></th:block>
<body>
<div class="content">
    <table class="table" style="width: 75%" border="1">
        <thead>
        <tr>
            <th scope="col" bgcolor="#008b8b">Student</th>
            <th:block scope="col" th:each="lesson : ${lessons}">
                <th th:text="${lesson.nume}" bgcolor="#008b8b"></th>
            </th:block>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mark,iter : ${marksForStudent}">
            <td th:text="${mark[iter.index].student.nume + ' ' + mark[iter.index].student.prenume}"></td>
            <td th:each="m : ${mark}">
                <span th:text="${m.mark}"></span>
            </td>
            <!--<th:block th:each="m : ${mark}">-->
                <!--<td th:text="${m.mark}"></td>-->
            <!--</th:block>-->
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>