<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
</head>
<body>
<table class="table" border="1">
    <thead>
    <tr>
        <th scope="col">Student</th>
        <th:block scope="col" th:each="lesson : ${lessons}">
            <th th:text="${lesson.nume}"></th>
        </th:block>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <th:block scope="col" th:each="lesson : ${lessons}">
        <th:block th:each="mark : ${marks}">
            <td th:if="${mark.student.ID == student.ID && mark.lesson.ID == lessonID}" th:text="${mark.nota}"></td>
        </th:block>
    </tr>
    </tbody>
</table>

</body>
</html>