<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:include="fragments/header :: head"></th:block>
<th:block th:include="fragments/body :: body"></th:block>
<title>Home Page</title>
<body>

<div class="content">
    <form method="POST" th:action="@{/}" th:object="${newMark}">
        <label class="left-arrange">Alege disciplina:</label><br>
        <select class="form-control full-width" th:field="*{lessonId}">
            <option
                    th:each="lesson : ${lessons}"
                    th:value="${lesson.ID}"
                    th:text="${lesson.Nume}"></option>
        </select>
        <br>
        <label class="left-arrange">Alege datele studentului:</label><br>
        <select class="form-control full-width" th:field="*{studentId}">
            <option
                    th:each="student : ${students}"
                    th:value="${student.ID}"
                    th:text="${student.Nume+' '+student.Prenume}"></option>
        </select><br>
        <label class="left-arrange">Introduceti nota:</label>
        <input th:field="*{mark}"/> <br>
        <input type="submit" value="Inregistreaza"/><br><br>
        <div class="alert alert-success" th:if="${#strings.isEmpty(successMessage)==false}" th:text="${successMessage}"/>
        <div class="alert alert-info" th:if="${#strings.isEmpty(infoMessage)==false}" th:text="${infoMessage}"/>
        <div class="alert alert-danger" th:if="${#strings.isEmpty(errorMessage)==false}" th:text="${errorMessage}"/>
    </form>
</div>

</body>
</html>
