<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:include="fragments/header :: head"></th:block>
<th:block th:include="fragments/body :: body"></th:block>
<title>Note Disciplina</title>
<body>
<div class="content full-width">
    <form method="post"
          th:object="${choseMark}"
          th:action="@{/notedisciplina}">
        <div class="form-group">
            <label th:for="lessons" class="left-arrange">Alege disciplina:</label><br>
            <select class="form-control"
                    th:field="*{lessonID}">
                <option
                        th:each="lesson : ${lessons}"
                        th:value="${lesson.ID}"
                        th:text="${lesson.Nume}"></option>
            </select></div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" }>
            <span th:each="error : ${#fields.errors('*')}"
                  th:text="${error}"></span>
        </div>
        <br>
        <input type="submit" value="Alege"/><br><br>
        <div class="alert alert-danger"
             th:if="${marks!=null and #lists.isEmpty(marks)}"
             th:text="${'Nu exista note pt. disciplina aleasa'}"></div>
        <table class="table"
               th:if="${not #lists.isEmpty(marks)}">
            <thead>
            <tr>
                <th scope="col" th:text="${'Note la disciplina selectata'}"></th>
                <!--<th th:text="${selectedLesson}"></th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="mark: ${marks}">
                <td th:text="${mark.student.nume +' ' + mark.student.prenume }"></td>
                <td th:text="${mark.nota}"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>